@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Open+Sans:wght@400;500;600&display=swap");

::root {
  --primary-color: #f75023;

  --font: "jost", sans-serif;
  --font2: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.sectionHero {
  background-image: url(./assets/asset\ 37.jpeg);
  background-size: cover;
}

.logo {
  width: 100px;
}

.navbar.color-change {
  background-color: #ffffff;
  transition: 0.1s ease-out;
  height: 80px;
}

.nav-item {
  margin: 0 30px 0 0;
}

.navbar-nav li a {
  font-family: var(--font2);
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

p.perkenalan {
  margin-top: 72px;
  font-size: 25px;
  color: #f75023;
  line-height: 30px;
}

div div h3 {
  line-height: 78px;
  font-size: 50px;
}

p.devisi {
  font-size: 19px;
  line-height: 30px;
}

span.text1 {
  color: #f75023;
}

p.deskripsi {
  font-size: 16px;
}

button.btn.btn-primary {
  background-color: var(--primary-color);
  border: none;
  margin-top: 10px;
  margin-right: 24px;
  padding: 12px 30px 12px 30px;
  font-size: 16px;
  font-family: var(--font2);
  border-radius: 30px;
  font-weight: 400;
}

button.btn.btn-primary:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.icons {
  font-size: 16px;
  margin-right: 9px;
}

img.ava {
  max-width: 100%;
  margin-top: -25%;
  margin-bottom: 50px;
}
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-color);
}

/* utilities */

.sectionUti {
  background-color: rgb(247, 247, 247);
}

img.uti1,
img.uti2,
img.uti3 {
  width: 90px;
  height: 90px;
}
.icons1,
.icons2,
.icons3 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

div div h4 {
  color: var(--primary-color);
  padding: 15px;
}

/* contents */
.secContent {
  margin-bottom: 112px;
}

img.gambar {
  width: 90%;
  height: 90%;
}

.textCon {
  font-size: 14px;
}

div div span {
  font-size: 22px;
  line-height: 30px;
  color: var(--primary-color);
}

div div h1 {
  font-size: 40px;
  line-height: 50px;
  font-family: var(--font2);
  margin-top: 20px;
}

p.textCon {
  font-size: 16px;
  line-height: 30px;
  margin-top: 25px;
  font-family: var(--font2);
}
