@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");

:root {
  --font: "jost", sans-serif;
}

.logo {
  width: 100px;
}

.nav-item {
  margin: 0 25px 0 0;
}

.navbar-nav li a {
  font-family: var(--font);
}
